@import "tailwindcss";

:root {
  --background-main: #EEF5FF;
  --blue-dark: #0A274E;
  --blue: #6259FF;
  --purple: #483EFF;
  --font-primary: 'Poppins';
  --font-secondary: 'DynaPuff';
}

body {
  background-color: var(--background-main);
  font-family: var(--font-primary);
}